div.stadium {
    background-color: rgb(200,200,200);
    min-height: 500px;
}

div.letters{
    background-color: green;
    min-height: 100px;
}

div.letters div.letter{
    background-color: violet;
}

div.controls{
    background-color: blue;
    min-height: 80px;
}