div.container{
    /*background-color: rgb(200,200,200);*/
}

div.player1_panel {
    height: 500px;
    background-color: #decae5;
    overflow-y: auto;
}

div.player2_panel {
    height: 500px;
    background-color: slategray;
    overflow-y: auto;
}

div.stadium {
    background: url("/static/word_soccer_app/grass.jpg");
    background-repeat: repeat;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.stadium div.is-1-21{
    flex: none;
    width: calc(100% / 21);
    background-color: #045e0b;
    border: 1px solid rgb(0, 197, 33);
    opacity: 0.7;
}

div.word{
    min-height: 3em;
    background-color: #b5e4b3;
    font-size: 1.6em;
}

div.delete_box{
    min-height: 2em;
    background-color: #c5bb97;
}

div.delete_box div.remover div{
    white-space: nowrap;
    background-color: #c45b35;
    padding: 0.2em;
    cursor: pointer;
}

div.delete_box div.deleter div{
    white-space: nowrap;
    background-color: #99c66f;
    padding: 0.2em;
    cursor: pointer;
}

div.letters{
    background-color: seashell;
}
div.letters div.letter{
    background-color: lightblue;
    padding: 0.4em;
}

div.letters div.letter div{
    background-color: #359ec4;
    width: 1.8em;
    height: 1.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    margin: 0 0.0em;
    cursor: pointer;
}

div.controls{
    background-color: lightsalmon;
}

div.controls div.submit{
    background-color: lightcoral;
}

div.controls div.submit form button{
    cursor: pointer;
}