div.container{
    background-color: rgb(200,200,200);
}

div.stadium {
    background-color: lightseagreen;
    min-height: 500px;
}

div.letters{
    background-color: seashell;
}

div.letters div.letter{
    background-color: lightblue;
}

div.letters div.letter div{
    background-color: #359ec4;
}

div.controls{
    background-color: lightsalmon;
}

div.controls div.submit{
    background-color: lightcoral;
}